<div class="container">
  <div>
    <div class="buttons">
      <h2>{{animState}}</h2>
      <div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" checked="" (click)="animState = 'Login'; test()" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Login</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" (click)="animState = 'Register'; test()" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Register</label>
        </div>
      </div>
    </div>
    <app-login-form [animState]="animState"></app-login-form>
  </div>
</div>
